<div class="mb-4">
  <a class="btn btn-sm btn-outline-primary mr-2" href="{% url 'teacher_dashboard' %}">Overview</a>
  <a class="btn btn-sm btn-outline-primary mr-2" href="{% url 'teacher_exam_list' %}">Exams</a>
  <a class="btn btn-sm btn-outline-primary mr-2" href="{% url 'teacher_results' %}">Results</a>
  <a class="btn btn-sm btn-outline-primary mr-2" href="{% url 'teacher_proctoring_logs' %}">Proctoring</a>
  <a class="btn btn-sm btn-outline-primary" href="{% url 'teacher_analytics' %}">Analytics</a>
</div>
